@model Resume

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resume</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityTown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityTown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sort1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sort1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sort2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sort2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inactive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
